html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #3B3B3B;
    background: #EEEEEE;
}

#page {
    max-width: 800px;
    background: white;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
}

.bannerbox {
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
    font-weight: 600;
    background: rgba(87, 117, 128, 0.8);
    font-size: 180%;
    letter-spacing: 2px;

    padding: .8em;
    color: white;
    text-transform: uppercase;
}

@media screen and (min-width: 600px) {
    #topbanner {
        position: absolute;
        top: 10%;
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    #topbanner {
        position: relative;
    }
}

#content {
    width: 90%;
    margin: 1em auto;
    line-height: 140%;
    font-family: "Calendas Plus","Crimson Text","Hoefler Text","Georgia",serif;
}

h1 {
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
    margin-top: 1em;
    margin-bottom: .2em;
    line-height: 110%;
}

h2 {
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
    margin-top: 1em;
    margin-bottom: .2em;
}

h3 {
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
    margin-bottom: 0em;
}

p {
    margin-top: .5em;
}

a {
    color: #8AB9D1;
    text-decoration: none;
}

.label {
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
    color: #D9D9D9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70%;
    padding-left: 1em;
}

ul {
    list-style-type: square;
}

ul, ol {
    padding-left: 2em;
}

li {
    padding: .3em 0;
}

.tbl {
    display: table;
}

.tbl > div {
    display: table-row;
}

.tbl > div > div {
    display: table-cell;
    padding: .3em;
}


/**
 * Code formatting
 */
pre,
code {
    border: 1px solid $grey-color-light;
    background-color: #FCFCFF;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


.commaseplist {
    padding: 0px;
    display: inline;
    list-style: none;
}

.commaseplist li {
    display: inline;
}

.commaseplist li:after {
    content: ", ";
}

.commaseplist li:last-child:after {
    content: "";
}


blockquote {
    background: #F0F0F0;
    padding: .2em 1.5em;
    border-left: .5em solid #8AB9D1;
}

.figureText {
    margin: 0px auto;
    width: 70%;
    font-size: 80%;
    color: grey;
    text-align: center;
    font-style: italic;
}