<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="page">
            <div style="position: relative;">
                <div id="topbanner" class="bannerbox">
                    Andreas Lundblad
                </div>
                <img src="/banner.jpg" style="width: 100%; display: block;" />
            </div>
            
            <div id="content">
                {{ content }}
            </div>
            &nbsp; <!-- To make sure #page goes all the way to the bottom. https://stackoverflow.com/questions/6470715 -->
        </div>
    </body>
</html>
